/ blog
#blog.blog
  .container
    .blog-info.text-center
      %h3 BLOG
      .strip.text-center
        = fa_icon "pencil 2x"
    .blog-grids
      .col-md-4.blog-text-info
        .blog-grid
          %a{:href => "single.html"}
            -#%img{:alt => "", :src => "images/a.jpg"}/
            = image_tag "a.jpg"
          .blog-text
            %a{:href => "single.html"} Nature is lethal but it doesn't hold a candle to man.
            .stripa
            %p
              Your bones don't break, mine do. That's clear. Your cells react to bacteria
              and viruses differently than mine. You don't get sick, I do.
          .blog-para
            %ul
              %li
                %a{:href => "#"} 3 Comments
              %li
                %a{:href => "#"} 8 Share
          .blog-pos
            %p
              5
              %span May
      .col-md-4.blog-text-info
        .blog-grid
          %a{:href => "single.html"}
            -#%img{:alt => "", :src => "images/b.jpg"}/
            = image_tag "b.jpg"
          .blog-text
            %a{:href => "single.html"} Nature is lethal but it doesn't hold a candle to man.
            .stripa
            %p
              Your bones don't break, mine do. That's clear. Your cells react to bacteria
              and viruses differently than mine. You don't get sick, I do.
          .blog-para
            %ul
              %li
                %a{:href => "#"} 3 Comments
              %li
                %a{:href => "#"} 8 Share
          .blog-pos
            %p
              5
              %span May
      .col-md-4.blog-text-info
        .blog-grid
          %a{:href => "single.html"}
            -#%img{:alt => "", :src => "images/c.jpg"}/
            = image_tag "c.jpg"
          .blog-text
            %a{:href => "single.html"} Nature is lethal but it doesn't hold a candle to man.
            .stripa
            %p
              Your bones don't break, mine do. That's clear. Your cells react to bacteria
              and viruses differently than mine. You don't get sick, I do.
          .blog-para
            %ul
              %li
                %a{:href => "#"} 3 Comments
              %li
                %a{:href => "#"} 8 Share
          .blog-pos
            %p
              5
              %span May
      .col-md-4.blog-text-info
        .blog-grid
          %a{:href => "single.html"}
            -#%img{:alt => "", :src => "images/a.jpg"}/
            = image_tag "a.jpg"
          .blog-text
            %a{:href => "single.html"} Nature is lethal but it doesn't hold a candle to man.
            .stripa
            %p
              Your bones don't break, mine do. That's clear. Your cells react to bacteria
              and viruses differently than mine. You don't get sick, I do.
          .blog-para
            %ul
              %li
                %a{:href => "#"} 3 Comments
              %li
                %a{:href => "#"} 8 Share
          .blog-pos
            %p
              5
              %span May
      .col-md-4.blog-text-info
        .blog-grid
          %a{:href => "single.html"}
            -#%img{:alt => "", :src => "images/b.jpg"}/
            = image_tag "b.jpg"
          .blog-text
            %a{:href => "single.html"} Nature is lethal but it doesn't hold a candle to man.
            .stripa
            %p
              Your bones don't break, mine do. That's clear. Your cells react to bacteria
              and viruses differently than mine. You don't get sick, I do.
          .blog-para
            %ul
              %li
                %a{:href => "#"} 3 Comments
              %li
                %a{:href => "#"} 8 Share
          .blog-pos
            %p
              5
              %span May
      .col-md-4.blog-text-info
        .blog-grid
          %a{:href => "single.html"}
            -#%img{:alt => "", :src => "images/c.jpg"}/
            = image_tag "c.jpg"
          .blog-text
            %a{:href => "single.html"} Nature is lethal but it doesn't hold a candle to man.
            .stripa
            %p
              Your bones don't break, mine do. That's clear. Your cells react to bacteria
              and viruses differently than mine. You don't get sick, I do.
          .blog-para
            %ul
              %li
                %a{:href => "#"} 3 Comments
              %li
                %a{:href => "#"} 8 Share
          .blog-pos
            %p
              5
              %span May
      .clearfix
/ //blog
