/ process
.process.text-center
  .container
    %h3 PROCESS
    .strip.text-center
      -#%img{:alt => " ", :src => "images/pro.png"}/
      = image_tag "pro.png"
    .process-girds
      .col-md-2.process-pad
        .process-gird
          .process-imagea
          %p IDEA
          -#%img{:alt => "", :src => "images/6.png"}/
          = image_tag "6.png"
      .col-md-2.process-pad
        .process-gird
          .process-imageb
          %p CONCEPT
          -#%img.pro-imga{:alt => "", :src => "images/6.png"}/
          = image_tag "6.png"
      .col-md-2.process-pad
        .process-gird
          .process-imagec
          %p DESIGN
          -#%img.pro-img{:alt => "", :src => "images/6.png"}/
          = image_tag "6.png"
      .col-md-2.process-pad
        .process-gird
          .process-imaged
          %p DEVELOP
          -#%img.pro-imgb{:alt => "", :src => "images/6.png"}/
          = image_tag "6.png"
      .col-md-2.process-pad
        .process-gird
          .process-imagee
          %p TEST
          -#%img{:alt => "", :src => "images/6.png"}/
          = image_tag "6.png"
      .col-md-2.process-pad
        .process-gird
          .process-imagef
          %p LAUNCH
      .clearfix
/ //process
