/ services
#services.services.text-center
  .container
    .ser-info
      %h3 SERVICES
    .strip.text-center
      = fa_icon "wrench 2x"
    .ser-grids
      .col-md-3.ser-grid
        .ser-image
          = fa_icon "cog 5x"
        %h3 API Integration
        %p
          I can make your application do more for you by integrating different APIs into your application
      .col-md-3.ser-grid
        .ser-image
          = fa_icon "laptop 5x"
        %h3 Web Development
        %p
          Full stack means I can develop a small to medium application for you, from the front end right down to SQL
      .col-md-3.ser-grid
        .ser-image
          = fa_icon "mobile 5x"
        %h3 Responsive
        %p
          With the mobile platform spreading like wildfire, I help you keep up by developing a mobile friendly app
      .col-md-3.ser-grid
        .ser-image
          = fa_icon "tachometer 5x"
        %h3 Agile
        %p
          The weekly iterations and a test driven approach means you are always in the loop and gives less room for error.
      .clearfix
/ //services
